.navBar {
    grid-row: 1;
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 0px 75px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

.navBar h1 {
    font-family: "montserrat";
    font-size: 28px;
    color: #4a4a4f;
}

.navBar span {
    font-family: "montserrat";
    font-size: 14px;
    color: #4a4a4f;
    margin-right: 15px;
    font-weight: bold;
}

.navBar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}

.navBar form {
    display: flex;
    flex-direction: row;
}

.navBar label {
    color: #4a4a4f;
    margin: 1px;
    padding: 5px 0 5px;
    padding-right: 10px;
}

.navBar input {
    margin: 1px;
    margin-right: 10px;
    width: 150px;
    border: 1px solid lightgrey;
    padding: 2px 5px;
    background-color: white;
}

.navBar form > div {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.navBar #login-form > div{
    display: inline-block;
}

.navBar button {
    color: #4a4a4f;
    border: lightgrey solid 1px;
    background-color: white;
    padding: 5px;
    width: 100px;
    margin-left: 5px;
}
.navBar button:hover{
    color: #4a4a4f;
    background-color: #e6ecf0;
    border: lightgrey solid 1px;
}